APP_PORT=8080
DB_URL=jdbc:postgresql://postgres:5432/otp_service
DB_USER=otp_user
DB_PASSWORD=otp_password
POSTGRES_DB=otp_service
POSTGRES_USER=otp_user
POSTGRES_PASSWORD=otp_password
POSTGRES_PORT=15432

JWT_SECRET=replace-with-a-long-random-secret
JWT_TTL_MINUTES=60
OTP_SWEEP_SECONDS=30

SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_AUTH=false
SMTP_STARTTLS=false
EMAIL_FROM=otp@example.com
EMAIL_USERNAME=
EMAIL_PASSWORD=
MAILPIT_WEB_PORT=8025
MAILPIT_SMTP_PORT=1025

SMPP_HOST=host.docker.internal
SMPP_PORT=2775
SMPP_SYSTEM_ID=smppclient1
SMPP_PASSWORD=password
SMPP_SYSTEM_TYPE=OTP
SMPP_SOURCE_ADDR=OTPService

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
